<div class="card-container flex justify-center">
    <!-- Enabling Environment -->
    <a href="/quiz/enabling_environment">
        <div class="card mx-1">                
            <div class="content">
                <div class="heading text-white">Enabling Environment</div>
                <div class="description text-white">Description goes here...</div>
                <div class="arrow-button text-white">&#8594;</div>
            </div>            
            <img src="your-image-url-1.jpg" alt="Image 1" class="image">
        </div>
    </a>

    <!-- Market Creation -->
    <a href="/quiz/market_creation">
        <div class="card mx-1">                
            <div class="content">
                <div class="heading text-white">Market Creation</div>
                <div class="description text-white">Description goes here...</div>
                <div class="arrow-button text-white">&#8594;</div>
            </div>            
            <img src="your-image-url-1.jpg" alt="Image 1" class="image">
        </div>
    </a>

    <!-- Organisational Change -->
    <a href="/quiz/organisational_change">
        <div class="card mx-1">                
            <div class="content">
                <div class="heading text-white">Organisational Change</div>
                <div class="description text-white">Description goes here...</div>
                <div class="arrow-button text-white">&#8594;</div>
            </div>            
            <img src="your-image-url-1.jpg" alt="Image 1" class="image">
        </div>
    </a>

    <!-- All -->
    <a href="/quiz/all">
        <div class="card mx-1">                
            <div class="content">
                <div class="heading text-white">All</div>
                <div class="description text-white">Description goes here...</div>
                <div class="arrow-button text-white">&#8594;</div>
            </div>            
            <img src="your-image-url-1.jpg" alt="Image 1" class="image">
        </div>
    </a>
</div>
