<link rel="stylesheet" href="/style/main.css">

<nav class="nav"> <!-- items-center makes it vertically centered -->
    <div class="logo w-1/5">                        
        <a href="/"><img src="/logos/activator.png" alt="menu" class="w-52"></a>
    </div>
    <ul class="navMenu">
        <a class="menu" href="/" class="">Home</a>
        <li id="surveyMenu" class="menu">
            Survey
            <!-- Subnav -->
            <div class="subNav">
                <a href="/survey/enabling_environment">Enabling Environment</a>
                <a href="/survey/market_creation">Market Creation</a>
                <a href="/survey/organisational_change">Organisational Change</a>
                <a href="/survey/market_creation_and_organisational_change">Market Creation & Organisational Change</a>
            </div>    
        </li>        
        
        <a class="menu" href="/contact" class="">Contact</a>         
        
    </ul>   
</nav>

<style>
    nav {
        display: flex;
        visibility: hidden;
        z-index: 1;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 14%;
        justify-content: space-between;
        align-items: center;
        padding:1.5% 9%;
        background: var(--dark-blue);     
        transition: opacity 0.1s ease-in-out;  
    }
    .nav-show {
        opacity: 1;
        visibility: visible;
    }
    .navMenu {
        list-style: none;
        display: flex;
        justify-content:center;
        text-align: center;
        height: 100%;
    }
    /* Menu */
    .menu {      
        padding: 20px 0;   
        width: 250px;
        min-height: 5%;
        text-decoration: none;
        font-size: 16px;
        color: #fff;        
        text-align: center;        
    }

    .menu:hover {
        background-color: var(--medium-blue);
        /* border: 1px solid white; */
        border-radius: 25px;
        padding: 18px 0px;
    }    

    /* Subnav */
    .subNav {        
        display: none;
        background-color: rgba(255,255,255,1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1;
        border: 1px solid white;
        border-radius: 25px;
        border-top: none;        
        margin-top: 6%;
    }

    .subNav a {
        display: block;
        padding: 17px 30px;
        text-decoration: none;
        color: var(--dark-blue);
    }

    /* Additional hover styles for subnav items */
    .subNav a:hover {
        color: var(--dark-blue);
        font-weight: 600;
        background-color: var(--grey);
        width: 100%;        
    }

    .subNav a:first-child {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .subNav a:last-child:hover {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    /* Show subnav on hover */
    #surveyMenu:hover .subNav {
        display: block;                       
    }

</style>

<script>
    let lastScrollTop = 0;
    window.addEventListener("scroll", function() {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
            // Scrolling down, hide the navigation bar
            document.querySelector("nav").classList.remove("nav-show");
        } else {
            // Scrolling up, show the navigation bar
            document.querySelector("nav").classList.add("nav-show");
        }
        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
    }, false);

    const showNav = () => {
        const nav = document.querySelector('nav');
        nav.classList.add('nav-show');
    }
</script>