.qCard {    
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

#card-ee {
    background-image: url('/images/enabling_environment_black.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

#card-ee:hover {
    background-image: url('/images/enabling_environment_white.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

#card-mc {
    background-image: url('/images/market_creation_black.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

#card-mc:hover {
    background-image: url('/images/market_creation_white.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

#card-oc {
    background-image: url('/images/organisational_change_black.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

#card-oc:hover {
    background-image: url('/images/organisational_change_white.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

#card-combination {
    background-image: url('/images/combination_black.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

#card-combination:hover {
    background-image: url('/images/combination_white.jpg'); 
    background-size: contain;  
    background-position: center center; 
}

.qCard:hover  .qCard-h{
    color: var(--dark-blue);
}

.qCard:hover  .qCard-desc{
    color: var(--dark-blue);
}

.qCard-h {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: opacity 0.3s;
    transition: transform 0.4s;
    transform: translateY(50%);
}

.qCard-desc {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    transition: transform 0.4s;
    transform: translateY(50%);
}

.arrow-button {
    text-align: right;
    transition: color 0.3s;   
    transition: top 0.3s;    
    position: absolute;
    top: 70%;
}

.qCard-img {
    width: 100%;
    height: auto;
}

/* Card on hover */
.qCard:hover .qCard-img,
.qCard:hover .arrow-button {
    color: var(--dark-blue);
    top: 90%;
}

.qCard:hover .qCard-h {
    transform: translateY(0%);
    opacity: 100%;
}
.qCard:hover .qCard-desc {
    transform: translateY(0%);
    opacity: 100%;
}