:root {
    /* Blue */
    --dark-blue: RGB(34, 55, 95);
    --medium-blue: RGB(55, 99, 165);
    --light-blue: RGB(131, 178, 255);
    --bright-blue: RGB(48,102,241);
    --dove-blue: RGB(98,123,188);
    /* Red */
    --dark-red: RGB(255, 90, 54);
    --light-red: RGB(255, 162, 146);
    /* Yellow */
    --dark-yellow: RGB(255, 197, 46);
    --light-yellow: RGB(255, 237, 94);
    /* Green */
    --dark-green: RGB(0, 220, 36);
    --light-green: RGB(0, 220, 36);
    /* Others */
    --grey: RGB(238, 240, 244);
}

html {
    scroll-behavior: smooth;
}
.padded {
    padding:8% 10%;
}
.horizontal-margin {
    margin-left: 5%;
    margin-right: 5%;
}
.card {        
    background: #FFFFFF;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Column */
.double-col {
    width: 100%;
    display: flex;
}

.col {
    display: flex;        
    flex-direction: column;
    justify-content: center;        
}

/* Text */
h1 {
    font-size: 4rem;
    font-weight: 500;    
    color: var(--dark-blue);
}

h2 {
    font-size: 2rem;
    font-weight: 500;    
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;    
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;    
}

h5 {
    font-size: 1.4rem;
    font-weight: 300;    
}

p {
    /* font-size: 1.1em;
    font-weight: 200; */
}

.blue-text {
    color: var(--dark-blue);
}

/* Button */
.white-button {
    background-color: white;
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    color: var(--dark-blue);
}

.white-button:hover {
    box-shadow: inset 2px 2px 5px 0px black;
}

.blue-button {
    background-color: var(--dark-blue);
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    color: white;        
}

.blue-button:hover {
    box-shadow: inset 2px 2px 5px 0px var(--grey);
}

.button a {
    font-size: 1.25em;
    font-weight: 500;
}
#top-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Radio */
.radioLabel input[type="radio"] {
    display: none;
}

/* Style the custom radio buttons */
.radioLabel input[type="radio"] + p::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid var(--medium-blue); /* Border color for the radio button */
    border-radius: 50%; /* Make it a circle */
    margin-right: 10px; /* Space between the radio button and text */
    vertical-align: middle;
}

/* Style the custom radio buttons when checked */
.radioLabel input[type="radio"]:checked + p::before {
    border: 5px solid var(--medium-blue);    
}

/* Align the label text vertically with the radio button */
.radioLabel p {
    display: inline-block;
    vertical-align: middle;
} 
.radioLabel input[type="radio"]:checked + p {
    font-weight: 500;
}