<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/style/main.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/js/script.js"></script>
    <title>Home page</title>
</head>
<style>
    .body {
        padding:5% 15%;
    }
    .card {        
        background: #FFFFFF;
        border-radius: 25px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        }

    .module {
        width: 30%;
        padding: 3%;
        margin: 0% 3%;
    }

    #tips {
        padding: 5%;
        margin: 4% 0%;
    }

    #vd-1 {
        margin-right: -50px;
    }

    #vd-2 {
        margin-left: -50px;
    }

</style>
<body>
    <!-- Navbar -->
    <header class="z-10">
        <%- include ('partials/nav.ejs') %>
    </header>

    <!-- Body -->
    <div class="body">
        <!-- Module -->
        <div class="w-full mx-auto bg-white">
            <!-- Text -->
            <div class="textBox text-center">
                <p class="text-slate-900 text-4xl mb-2">Your business is</p>
                <p class="text-slate-900 text-4xl mb-2 font-bold">Pioneer</p>                
            </div>
            
            <!-- Venn diagram -->
            <div id="vd" class="flex justify-center">
                <!-- radial bar -->
                <div id="vd-1" class="vd-chart"></div>
                <div id="vd-2" class="vd-chart"></div>                
            </div>               

            <!-- Cards -->
            <div id="modules" class="flex justify-center">
                <!-- card -->
                <div id="card-1" class="card module text-center p-10">
                    <!-- heading -->
                    <div class="mb-5">
                        <p class="text-slate-900 text-1xl">Market Creation</p>
                    </div>
                    <!-- button -->
                    <div class="buttons mx-auto text-center">
                        <a href="#" class="px-4 py-3 bg-transparent border-gray-900 border rounded-full text-gray-900 hover:bg-gray-900 hover:text-white">
                            Click here
                        </a>
                    </div>
                </div>
                <div id="card-2" class="card module"></div>
                <div id="card-3" class="card module"></div>
            </div>        
        </div>
        
        <!-- Desciption -->        
        <div class="mt-16">
            <!-- heading -->
            <p class="text-slate-900 text-4xl mb-2 font-bold">What is Emerging Pioneer ?</p>
            <!-- par -->
            <p class="mt-10 text-slate-900 text-sm mx-auto">Don't mistake this love language for materialism; the receiver of gifts thrives on the love, thoughtfulness, and effort behind the gift. If you speak this love language, the perfect gift or gesture shows that you are known, you are cared for, and you are prized above whatever was sacrificed to bring the gift to you.Don't mistake this love language for materialism; the receiver of gifts thrives on the love, thoughtfulness, and effort behind the gift. </p>
        </div>

        <!-- Tips -->
        <div id="tips" class="card tips">
            <!-- heading -->
            <p class="text-slate-900 text-xl font-medium mx-auto">Steps to improve your Business:</p>
            <!-- list of tips -->
            <p>Don't mistake this love language for materialism: </p>
            <ul class="mt-5 pl-5">
                <li class="flex">
                    <p class="w-16 list-number text-2xl">1.</p>
                    <p class="">list 1</p>
                </li>            
            </ul>            
        </div>

        <!-- Question Details Dropdown -->
        <div class="q-details">
            <!-- Dropdown -->
            <div class="border-gray-200 border-b">
                <button data-collapse-toggle="more-details2" type="button" class="text-lg text-black font-medium inline-flex w-full justify-between py-6">
                    <!-- Question topic -->                    
                    <span class="inline-flex items-cente">
                        <span class="mr-2">Customer Engagement</span>
                        <span class="mr-2">icon</span>
                    </span>
                    <!-- Dropdown button -->
                    <span class="">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </span>
                </button>

                <!-- Module Details -->
                <div id="more-details2" class="w-full mx-auto bg-white hidden overflow-y-auto transition-all duration-5000 ease-in-out">                    
                    
                    <!-- Half radial chart -->
                    <div id="hrc" class="-mb-16"></div>

                    <!-- Cards -->
                    <div id="module-graphs" class="flex justify-center">
                        <!-- card -->
                        <div id="card-1" class="card module text-center">
                            <!-- radial bar -->
                            <div id="rc-1"></div>
                            <!-- heading -->
                            <p class="text-slate-900 text-1xl font-medium mx-auto">Topic 1</p>
                            <!-- resutl -->
                            <p class="text-slate-900 text-sm mx-auto">Latent</p>
                        </div>
                        <div id="card-2" class="card module"></div>
                        <div id="card-3" class="card module"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- button -->
        <div class="buttons mt-10 text-center">
            <a href="#" class="px-6 py-5 mt-10 bg-transparent border-gray-900 border rounded-full text-gray-900 hover:bg-gray-900 hover:text-white">
                Go back to home
            </a>
        </div>

        <div id="chart"></div>
        
    </div>
    
</body>
</html>

<script>


window.addEventListener("load", function() {
    console.log('sucess');
    console.log(document.getElementById("radial-chart"))
    const results = {
      'latent': {
        'width':'30%',
        'bgColor': 'linear-gradient(to right, #FF5A36, #FFA292)',
        'hoverBgColor': 'linear-gradient(to right, #f27e64, #e8bfb8)'
      },
      'emerging': {
        'width':'50%',
        'bgColor': 'linear-gradient(to right, #FFC42D, #FFEF60)',
        'hoverBgColor': 'linear-gradient(to right, #f27e64, #e8bfb8)'
      },
      'mature': {
        'width':'20%',
        'bgColor': 'linear-gradient(to right, #61C270, #61C270)',
        'hoverBgColor': 'linear-gradient(to right, #f27e64, #e8bfb8)'
      }
    } ;

    // Overall result -> Venn diagram
    insertRadialChart('vd-1', 'emerging', '#89EFCD', '#FFE37E', '300px', '85%', 'rgba(0,255,0,0.5)', 20)
    insertRadialChart('vd-2', 'emerging', '#89EFCD', '#FFE37E', '300px', '85%', 'rgba(255,255,0,0.5)', 20)

    // Module result -> Half radial chart
    insertHalfRadialChart('hrc', 'emerging', '#89EFCD', '#FFE37E', '100%', '50%', 20)

    // Questions result -> Radial chart
    insertRadialChart('rc-1', 'emerging', '#89EFCD', '#FFE37E', '100%', '50%', 20)

    // Progress bar chart    
    document.getElementById('d2-pb').appendChild(createProgressChart())
    
});

</script>